<section class="hero hero-decor">
  <div class="container">
    <h2 class="hero__title heading-h2">Activity & Updates</h2>
    <p class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're <br />
      always designing and building products that <br />
      will help you run your business better.
    </p>
    <div class="hero__nav">
      <ul class="hero__list">
        <li class="hero__item active text-p-default" data-tab="tab-1">
          View all
        </li>
        <li class="hero__item text-p-default" data-tab="tab-2">Design</li>
        <li class="hero__item text-p-default" data-tab="tab-3">Articles</li>
        <li class="hero__item text-p-default" data-tab="tab-4">Product</li>
        <li class="hero__item text-p-default" data-tab="tab-5">
          Software Development
        </li>
        <li class="hero__item text-p-default" data-tab="tab-6">
          Customer Success
        </li>
      </ul>
    </div>
    <div class="hero__wrapper">
      <div class="hero__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="hero__content" id="tab-1">
        <div class="swiper hero__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide hero__slide">
              <img
                loading="lazy"
                class="hero__slide-img"
                src="./assets/image/blog-img-1.jpg"
                alt="a woman is working on a laptop"
              />
              <div class="hero__slide-head text-p-small">
                <div class="hero__slide-date">
                  Published in Insight
                  <time datetime="2024-01-30">Jan 30, 2024</time>
                </div>
                <address class="hero__slide-author">by : Albert Sans</address>
              </div>
              <h5 class="hero__slide-title heading-h5">
                Practice making User Flow
              </h5>
              <p class="hero__slide-descr text-p-medium">
                In this article, we'll cover how to create user flows
              </p>
            </div>
            <div class="swiper-slide hero__slide">
              <img
                loading="lazy"
                class="hero__slide-img"
                src="./assets/image/blog-img-2.jpg"
                alt="Two women are working on a laptop"
              />
              <div class="hero__slide-head text-p-small">
                <div class="hero__slide-date">
                  Published in Insight
                  <time datetime="2024-01-30">Jan 30, 2024</time>
                </div>
                <address class="hero__slide-author">by : Albert Sans</address>
              </div>
              <h5 class="hero__slide-title heading-h5">
                Overview of the Design Principles
              </h5>
              <p class="hero__slide-descr text-p-medium">
                What are Design Principles?… To understand design principles, we
                first discuss the principles.
              </p>
            </div>
            <div class="swiper-slide hero__slide">
              <img
                loading="lazy"
                class="hero__slide-img"
                src="./assets/image/blog-img-3.jpg"
                alt="A woman adn a man high-five each other"
              />
              <div class="hero__slide-head text-p-small">
                <div class="hero__slide-date">
                  Published in Insight
                  <time datetime="2024-01-30">Jan 30, 2024</time>
                </div>
                <address class="hero__slide-author">by : Albert Sans</address>
              </div>
              <h5 class="hero__slide-title heading-h5">
                Using Grid in website design
              </h5>
              <p class="hero__slide-descr text-p-medium">
                Andi: "What's the grid like?" Toni: “Like below…”
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__content hidden" id="tab-2">
        <div class="swiper hero__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide hero__slide">
              <img src="./assets/image/blog-img-2.jpg" alt="" />
            </div>
            <div class="swiper-slide hero__slide">
              <img src="./assets/image/blog-img-2.jpg" alt="" />
            </div>
            <div class="swiper-slide hero__slide">
              <img src="./assets/image/blog-img-2.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="hero__content hidden" id="tab-3">
        <div class="swiper hero__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide hero__slide">
              <img src="./assets/image/blog-img-3.jpg" alt="" />
            </div>
            <div class="swiper-slide hero__slide">
              <img src="./assets/image/blog-img-3.jpg" alt="" />
            </div>
            <div class="swiper-slide hero__slide">
              <img src="./assets/image/blog-img-3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
