<section class="partners">
    <div class="container partners__container">
        <h2 class="partners__title text-p-medium">
            <span  class="partners__title-num heading-h2">890+</span>
            some big companies that we work with, and trust us very much
        </h2>
        <ul class="partners__list">
            <li class="partners__item">
                <img loading="lazy" src="./assets/icons/partners/airbnb-logo-icon.svg" alt="Airbnb logo icon" width="97" height="30">
            </li>
            <li class="partners__item">
                <img loading="lazy" src="./assets/icons/partners/amazon-logo-icon.svg" alt="Amazon logo icon" width="97" height="30">
            </li>
            <li class="partners__item">
                <img loading="lazy" src="./assets/icons/partners/fedex-logo-icon.svg" alt="FedEx logo icon" width="96" height="30">
            </li>
            <li class="partners__item">
                <img loading="lazy" src="./assets/icons/partners/microsoft-logo-icon.svg" alt="Microsoft logo icon" width="116" height="26">
            </li>
            <li class="partners__item">
                <img loading="lazy" src="./assets/icons/partners/google-logo-icon.svg" alt="Google logo icon" width="91" height="30">
            </li>
            <li class="partners__item">
                <img loading="lazy" src="./assets/icons/partners/ola-logo-icon.svg" alt="OLA logo icon" width="94" height="32">
            </li>
            <li class="partners__item">
                <img loading="lazy" src="./assets/icons/partners/walmart-logo-icon.svg" alt="Walmart logo icon" width="114" height="28">
            </li>
            <li class="partners__item">
                <img loading="lazy" src="./assets/icons/partners/oyo-logo-icon.svg" alt="OYO logo icon" width="80" height="28">
            </li>
        </ul>
    </div>
</section>